/* 和 Element-Plus battle 一下 */
.el-tabs__item {
  padding: 0 !important;
}

:root {
  --color-friend: #1d4ed8;
  --color-group: #047857;
  --color-bilibot-auth: #ff85c0;
  --color-bilibot-unauth: #69c0ff;
  --color-stats-bg-overview-dark: #0066d3;
  --color-stats-bg-overview-light: #70d6ff;
  --color-stats-bg-bilibili-dark: #f759ab;
  --color-stats-bg-bilibili-light: #ffadd2;
  --color-stats-bg-yinlan-dark: #08979c;
  --color-stats-bg-yinlan-light: #87e8de;

}

/* 总览 */
.dash-stats-card[type="overview"] {
  background: linear-gradient(150deg, var(--color-stats-bg-overview-dark), var(--color-stats-bg-overview-light));
}

/* B站 */
.dash-stats-card[type="bilibili"] {
  background: linear-gradient(150deg, var(--color-stats-bg-bilibili-dark), var(--color-stats-bg-bilibili-light));
}

/* 洇岚程序信息 */
.dash-stats-card[type="yinlan"] {
  background: linear-gradient(150deg, var(--color-stats-bg-yinlan-dark), var(--color-stats-bg-yinlan-light));
}



/* 背景 */
.bg {
  position: fixed;
  z-index: -1;
  width: 100vw;
  min-height: 100vh;
  background: #f0f3f7;
}

/* 行 */
.row-center {
  @apply flex my-2;
  align-items: center;
}

.row-center > * {
  @apply mx-1;
}

.row-center-title {
  /* font-size: 18px; */
  font-weight: 600;
}

/* 面板标题 */
.dash-title {
  @apply px-20 py-5 w-full;
  font-size: 36px;
  font-weight: 500;
}

/* 面板内容 */
.dash-content {
  @apply px-16 w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
}

/* 面板内容列 */
.dash-content-col {
  /* @apply grid; */
}

/* 面板内容中所有卡片统一样式 */
.dash-stats-card,
.dash-control-card {
  @apply m-4 rounded-lg;
}

/* 统计数据卡片 */
.dash-stats-card {
  @apply px-6 py-3;
  background: #fff;
  color: #fff;
}



/* 统计数据卡片 - 标题 */
.dash-stats-card-title {
  @apply py-2;
  font-size: 18px;
  font-weight: 100;
}

/* 统计数据卡片 - 统计项 */
.dash-stats-card-stats {
  display: flex;
  flex-direction: column;
}

/* 统计数据卡片 - 统计单项 */
.dash-stats-card-stat {
  @apply flex flex-row py-2;
  align-items: center;
}

/* 统计数据卡片 - 统计单项 子元素 */
.dash-stats-card-stat div {
  @apply mr-4;
}

/* 统计数据卡片 - 统计单项 图标 */
.dash-stats-card-icon {
  @apply rounded-full flex flex-row justify-center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-weight: 100;
}

/* 统计数据卡片 - 统计单项 名称 */
.dash-stats-card-name {
  font-size: 16px;
}

/* 统计数据卡片 - 统计单项 数据 */
.dash-stats-card-value {
  font-size: 22px;
}

/* 操作卡片 */
.dash-control-card {
  @apply shadow-xl p-6;
  background: #fff;
}

.dash-control-card[size="md"] {
  max-height: 550px;
}

.dash-control-card[size="sm"] {
  max-height: 259px;
}

.dash-control-card[size="lg"] {
  max-height: 800px;
}

/* 操作卡片 - 标题 */
.dash-control-card-title {
  @apply flex mb-4;
  align-items: center;
  line-height: 20px;
}

/* 操作卡片 - 标题图标 */
.dash-control-card-title i {
  @apply text-sky-600;
}

/* 操作卡片 - 标题内容 */
.dash-control-card-title-content {
  @apply ml-2;
  font-size: 18px;
}

/* 操作卡片 - 内容 */
.dash-control-card-content {
  @apply flex flex-col;
}

.dash-control-card[size="md"] .dash-control-card-content {
  height: 450px;
}

.dash-control-card[size="sm"] .dash-control-card-content {
  height: 200px;
}

.dash-control-card[size="lg"] .dash-control-card-content {
  height: 680px;
}

/* 操作卡片 - 申请列表卡片 */
.dash-control-card-audit-card {
  @apply rounded-lg p-4 my-4 flex flex-col;
  border: 1px solid #e9eef1;
}

.dash-control-card-audit-card .top,
.dash-control-card-audit-card .bottom {
  @apply flex;
  justify-content: space-between;
}

.dash-control-card-audit-card .top .left {
  @apply flex flex-col;
}

.dash-control-card-audit-card-title {
  @apply mb-2;
  font-size: 16px;
}

.dash-control-card-audit-card-title[type="friend"] {
  /* @apply text-blue-700; */
  color: var(--color-friend);
}

.dash-control-card-audit-card-title[type="group"] {
  /* @apply text-emerald-700; */
  color: var(--color-group);
}

.dash-control-card-audit-card-name {
  @apply py-1;
  font-size: 18px;
  font-weight: 600;
}

.dash-control-card-audit-card-number {
  @apply py-1;
  font-size: 16px;
}

.dash-control-card-audit-card-desc {
  @apply text-gray-500 py-1 mb-2;
  font-size: 14px;
}

.dash-control-card-audit-card-avatar {
  @apply rounded-full shadow-md;
  width: 96px;
  height: auto;
}


/* 直播间列表卡片 */
.dash-control-card-contact-item {
  @apply flex py-2 px-3;
  align-items: center
}

.dash-control-card-contact-item-avatar {
  @apply rounded-full shadow-md;
  width: 54px;
  height: auto;
}

.dash-control-card-contact-item-content {
  @apply flex-grow ml-3;
}

.dash-control-card-contact-item-content-name {
  font-weight: 600;
  font-size: 18px;
}

.dash-control-card-contact-item-content-number {
  font-size: 16px;
}

.dash-control-card-contact-item-btn-group button {
  width: 32px;
}

/* 广播卡片 */
.dash-control-card-broadcast-content {
  @apply flex flex-col h-full;
}

.dash-control-card-broadcast-content-item  {
  @apply my-1;
}

.dash-control-card-apply-btn {
  align-self: flex-end;
}

.dash-control-card-apply-btn-group {
  @apply flex justify-between;
}